@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Fanwood+Text&family=Hanalei+Fill&family=Mouse+Memoirs&family=Pirata+One&family=Playball&display=swap");

// MIXIN
// @mixin animation($name) {
//     animation-name: $name;
//     -moz-animation-name: $name;
//     -webkit-animation-name: $name;
//     -ms-animation-name: $name;
//     -o-animation-name: $name;
// }

@mixin transform-origin($pro1, $pro2) {
    transform-origin: $pro1 $pro2;
    -moz-transform-origin: $pro1 $pro2;
    -webkit-transform-origin: $pro1 $pro2;
    -o-transform-origin: $pro1 $pro2;
    -ms-transform-origin: $pro1 $pro2;
}

@mixin transform($X, $Y) {
    -webkit-transform: translate($X, $Y);
    -ms-transform: translate($X, $Y);
    -o-transform: translate($X, $Y);
    -moz-transform: translate($X, $Y);
    transform: translate($X, $Y);
}

@mixin tr3d($a, $b, $c) {
    transform: translate3d($a, $b, $c);
    -webkit-transform: translate3d($a, $b, $c);
}
@mixin slY($a) {
    transform: scaleY($a);
    -webkit-transform: scaleY($a);
}
@mixin slX($a) {
    transform: scaleX($a);
    -webkit-transform: scaleX($a);
}
@mixin atf-cb($a, $b, $c, $d) {
    animation-timing-function: cubic-bezier($a, $b, $c, $d);
    -webkit-animation-timing-function: cubic-bezier($a, $b, $c, $d);
    -moz-animation-timing-function: cubic-bezier($a, $b, $c, $d);
}


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}
@include keyframes(pulse) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @mixin pulse {
    @include animate(pulse, 0.5s, infinite, normal);
  }

  .pulse {
    @include pulse;
    // border: 5px solid #000;
    // border-radius: 50px;
    // position: absolute;
    // left: 50%;
    // top: 50%;
  }


// ######################## COLOR  ##################################
:root {
    --bk: #000000;
    --wt: #ffffff;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: var(--bk);
    font-family: "Cormorant Infant", serif;
}

// ################# Font style ##################

// .cormorant{
//     font-family: 'Cormorant Infant', serif;
// }
.mouse {
    font-family: "Mouse Memoirs", sans-serif;
}

.fanwood {
    font-family: "Fanwood Text", serif;
}
.hanalei {
    font-family: "Hanalei Fill", cursive;
}
.pirate {
    font-family: "Pirata One", cursive;
}
.playball {
    font-family: "Playball", cursive;
}

// ############## Animation Style ####################

// .animate {
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }
.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

// @keyframes bounce {
//     from,
//     20%,
//     53%,
//     to {
//         @include atf-cb(0.215, 0.61, 0.355, 1);
//         @include tr3d(0, 0, 0);
//     }
//     40%,
//     43% {
//         @include atf-cb(0.755, 0.05, 0.855, 0.06);
//         @include tr3d(0, -30px, 0);
//         @include slY(1.1);
//     }
//     70% {
//         @include atf-cb(0.755, 0.05, 0.855, 0.06);
//         @include tr3d(0, -15px, 0);
//         @include slY(1.05);
//     }
//     80% {
//         @include atf-cb(0.215, 0.61, 0.355, 1);
//         @include tr3d(0,0, 0);
//         @include slY(0.95);
//     }
//     90% {
//         @include tr3d(0, -4px, 0);
//         @include slY(01.02);
//     }
// }
// @-webkit-keyframes bounce {
//     @extend @keyframes bounce;
// }

.bounce {
    // @include animation(bounce);
    // @include transform-origin(center,bottom);
    // @include incrediblehulk;
}


// ###############  Body Style ########################
.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left {
    padding: 30px;
    .imgfinder-area {
        margin-bottom: 15px;
        label {
            margin-right: 10px;
        }
        input {
            color: transparent;
        }
    }
    .flyerview {
        position: relative;
        max-width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
        .textplace {
            position: absolute;
            width: 70%;
            height: 60%;
            top: 50%;
            left: 50%;
            @include transform(-50%, -50%);
            overflow: hidden;
            #flyertext {
                width: 100%;
                height: 100%;
                font-size: 2.5rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 1px var(--bk);
            }
        }
    }
}

.right {
    background-color: #333;
    padding: 30px;
    .flyername {
        margin-bottom: 30px;
        .flyerinput {
            width: 100%;
            min-height: 45px;
            font-size: 2.5rem;
        }
    }
    .flyerstyle {
        margin-bottom: 30px;
        h4 {
            margin-bottom: 15px;
        }
        ul {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            li {
                padding: 10px;
                display: inline;
                text-align: center;
                background: #565350;
                cursor: pointer;
                border: 1px solid #565350;
                &:hover,
                &:focus {
                    border-color: #07d4d4;
                }
            }
        }
    }
    .flyeranimation {
        @extend .flyerstyle;
    }
}
